/*font-family: 'Archivo Narrow', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

h1 {
  font-size: 2.875rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

header {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: 356px;
  margin-right: 356px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homelogo {
  max-width: 100%;
  height: auto;
  min-width: 150px;
}

#hamburger-menu {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger-menu-bars {
  max-width: 50px;
  float: right;
  margin-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  /*outline: solid rgb(4, 248, 207);*/
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

nav li {
  display: inline-block;
  cursor: pointer;
  margin-left: -1px;
}

nav a {
  text-decoration: none;
  color: #000000;
  padding: 14px 24px 14px 24px;
  margin: 0px;
}

.selected-nav,
nav a:hover {
  color: #ffffff;
  background: #d4002f;
  box-shadow: 0px 3px 6px #00000029;
  outline: solid 2px #d4002f;
}

.searchbox {
  /*outline: solid red;*/
  display: flex;
  align-items: center;
  background: #e5e5e5;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 165px;
  box-shadow: 0px 3px 6px #00000029;
  margin-left: 50px;
}

.flaticon-magnifying-glass {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 900;
}

.searchbox-input {
  width: 100px;
  background: none;
  border: none;
  color: #afafaf;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

input.searchbox-input:focus {
  outline: none;
}

main {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: 22.25rem;
  margin-right: 22.25rem;
}

.subpage-titles {
  text-align: center;
  margin-bottom: 50px;
}

/*/////////////////[ Frontpage Start ]/////////////////*/

.frontpage-main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.frontpageblocks {
  display: flex;
  justify-content: center;
  background: #d4002f;
  height: 100%;
  width: 100%;
  max-height: 275px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
}

.frontpageblocks-clickable {
  outline: solid red;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}

.frontpageblocks span {
  display: inline-block;
  padding: 5px;
}

.frontpage-main img {
  object-fit: cover;
  max-height: 2000px;
}

.frontpage-contentblock-1 {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.frontpage-contentblock-1:hover {
  outline: solid 5px #53fc8b;
  cursor: pointer;
}

.frontpagetextwrapper1 {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 65%;
}

.frontpagetextwrapper1 h1 {
  margin: 0px;
  padding: 0px;
}

.frontpagetextwrapper1 span {
  background-color: #53fc8b;
}

.frontpage-contentblock-2 {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.frontpage-contentblock-2:hover {
  outline: solid 5px #53fc8b;
  cursor: pointer;
}

.frontpage-contentblock-2 img {
  max-height: 300px;
}

.frontpagetextwrapper2 {
  position: absolute;
  bottom: 5%;
}

.frontpagetextwrapper2 span {
  background-color: #53fc8b;
}

.frontpage-contentblock-3 {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.frontpage-contentblock-3:hover {
  outline: solid 5px #d4002f;
  cursor: pointer;
}

.frontpage-contentblock-3 img {
  max-height: 500px;
}

.frontpagetextwrapper3 {
  position: absolute;
  bottom: 5%;
}

.frontpagetextwrapper3 span {
  background-color: #d4002f;
}

.frontpagetextwrapper3 h2 {
  color: #ffffff;
}

.frontpage-contentblock-4 {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.frontpage-contentblock-4:hover {
  outline: solid 5px #53cefc;
  cursor: pointer;
}

.frontpage-contentblock-4 img {
  max-height: 500px;
}

.frontpagetextwrapper4 {
  position: absolute;
  bottom: 5%;
}

.frontpagetextwrapper4 span {
  background-color: #53cefc;
}

.frontpage-contentblock-5 {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.frontpage-contentblock-5:hover {
  outline: solid 5px #53cefc;
  cursor: pointer;
}

.frontpage-contentblock-5 img {
  max-height: 900px;
}

.frontpagetextwrapper5 {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
}

.frontpagetextwrapper5 h2 {
  margin: 0px;
  padding: 0px;
}

.frontpagetextwrapper5 span {
  background-color: #53cefc;
}

.frontpage-contentblock-6 {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.frontpage-contentblock-6 img {
  max-height: 400px;
}

.frontpagetextwrapper6 {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
}

.frontpage-contentblock-6:hover {
  outline: solid 5px #53fc8b;
  cursor: pointer;
}

.frontpagetextwrapper6 h2 {
  margin: 0px;
  padding: 0px;
}

.frontpagetextwrapper6 span {
  background-color: #53fc8b;
}

.frontpage-contentblock-7 {
  position: relative;
  color: #ffffff;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  max-height: 575px;
  background-color: #d4002f;
}

.frontpage-contentblock-7:hover {
  border: solid 5px #ffffff;
  margin: -5px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
}

.frontpage-contentblock-7-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.frontpage-contentblock-7-wrapper p {
  margin: 0px;
  font-weight: 300;
  font-size: 1.5rem;
}

.frontpage-contentblock-7-h2-1 {
  margin-left: -50px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.frontpage-contentblock-7-h2-2 {
  margin-left: -45px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.flaticon-clock,
.flaticon-placeholder {
  vertical-align: middle;
}

.frontpage-contentblock-8 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  background-color: #53cefc;
}

.frontpage-contentblock-8 h2 {
  margin-top: 0px;
}

.frontpage-contentblock-8-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

/*/ ////////////////[ Frontpage End ]/////////////////*/

/*/////////////////[ Explorepage Start ]/////////////////*/

.explore-main {
  margin-bottom: 130px;
}

.explore-main-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
}

.explore-contentblocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 3px 6px #00000029;
}

.explore-contentblocks-inner-part1 {
  flex: 6;
}

.explore-contentblocks-inner-part2 {
  flex: 4;
  width: 466px;
  height: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 52px 100px 52px;
  border-radius: 191px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
}

.explore-contentblock-1 {
  background-color: #d4002f;
  grid-row: 1 / 2;
}

.explore-contentblock-1 img {
  max-width: 466px;
  height: auto;
}

.explore-contentblock-1-textblock {
  margin-left: 50px;
  color: #ffffff;
}

.explore-contentblock-2 {
  background-color: #53fc8b;
  grid-row: 2 / 3;
}

.explore-contentblock-2 img {
  max-height: 382px;
  width: auto;
}

.explore-contentblock-2-textblock {
  margin-right: 50px;
}

.explore-contentblock-3 {
  background-color: #53cefc;
  grid-row: 3 / 4;
}

.explore-contentblock-3 img {
  max-height: 382px;
  width: auto;
}

.explore-contentblock-3-textblock {
  margin-left: 50px;
}

/*/ ////////////////[ Explorepage End ]/////////////////*/

/*/////////////////[ Exhibitionspage Start ]/////////////////*/

.exhibitions-main {
  gap: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;
}

.exhibitions-main img {
  height: auto;
  max-width: 100%;
  position: absolute;
}

.exhibitions-contentblocks {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 3px 6px #00000029;
}

.exhibitions-contentblocks:hover {
  cursor: pointer;
  margin-left: -2rem;
  margin-right: 2rem;
}

.exhibits-left {
  width: 50%;
  margin: 25px;
}

.exhibits-right {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.exhibitions-contentblock-1 {
  background-color: #53cefc;
}

.exhibitions-contentblock-2 {
  background-color: #53fc8b;
}

.exhibitions-contentblock-3 {
  color: #ffffff;
  background-color: #d4002f;
}

.exhibitions-contentblock-4 {
  background-color: #53cefc;
}

.exhibitions-contentblock-5 {
  background-color: #53fc8b;
}
/*/ ////////////////[ Exhibitionspage End ]/////////////////*/

/*/////////////////[ Visituspage Start ]/////////////////*/

.visitus-contentwrapper {
  background-color: #d4002f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 130px;
}

.visitus-contentwrapper h2 {
  margin-top: 55px;
  margin-bottom: 0px;
}

.visitus-contentwrapper p {
  margin-top: 0px;
}

.visitus-section-1,
.visitus-section-2 {
  margin: 4rem;
  color: #ffffff;
  max-width: 300px;
}

.visitus-section-1-wrapper-1 p {
  margin: 0px;
}

.visitus-icons {
  vertical-align: middle;
  margin-left: -65px;
  margin-right: 10px;
  font-size: 44px;
}

/*/ ////////////////[ Visituspage End ]/////////////////*/

footer {
  height: 275px;
  background-color: #d4002f;
  margin-left: 356px;
  margin-right: 356px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.footer-section-1 {
  margin-top: 4rem;
  font-size: 3.5rem;
  color: #ffffff;
  align-self: center;
}

.footer-section-2 {
  margin-top: 1rem;
  align-self: center;
}

.footer-section-2 a {
  display: flex;
  justify-content: center;
}

footer a img {
  max-width: 10%;
  height: auto;
  min-width: 150px;
}

.footer-icons {
  cursor: pointer;
}

/*/ Mobile View /*/

@media only screen and (max-width: 1300px) {
  header {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 0px;
  }

  main {
    margin: 0px;
  }

  footer {
    margin: 0px;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #hamburger-menu:checked ~ nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .navli {
    width: 100%;
    display: flex;
    margin: 0px;
  }

  nav a {
    width: 100%;
  }

  /*/////////////////[ Frontpage Mobile Start ]/////////////////*/
  .frontpage-main {
    display: flex;
    flex-direction: column;
  }

  .frontpageblocks {
    flex-direction: column;
    max-height: none;
    min-width: 320px;
  }

  .frontpage-main img {
    object-fit: cover;
    max-height: 300px;
    width: auto;
  }

  .frontpagetextwrapper1,
  .frontpagetextwrapper2,
  .frontpagetextwrapper3,
  .frontpagetextwrapper4,
  .frontpagetextwrapper5,
  .frontpagetextwrapper6 {
    position: static;
    max-width: 100%;
    margin: 2rem;
  }

  .frontpagetextwrapper1,
  .frontpagetextwrapper5,
  .frontpagetextwrapper6 {
    display: inline-block;
  }

  .frontpage-main h2,
  .frontpage-main h1 {
    margin: 0px;
    padding: 10px;
  }

  .frontpage-main p {
    padding: 10px;
    margin: 0px;
  }

  .frontpageblocks span {
    width: 100%;
  }

  .frontpage-contentblock-1 {
    background-color: #53fc8b;
  }

  .frontpage-contentblock-2 {
    background-color: #53fc8b;
  }

  .frontpage-contentblock-4 {
    background-color: #53cefc;
  }

  .frontpage-contentblock-5 {
    background-color: #53cefc;
  }

  .frontpage-contentblock-6 {
    background-color: #53fc8b;
  }

  .frontpage-contentblock-7 {
    align-items: center;
  }

  .frontpage-contentblock-7-wrapper {
    margin: 2.5rem;
  }

  .frontpage-contentblock-8-wrapper {
    margin: 2.5rem;
  }

  /*/////////////////[ Frontpage Mobile End ]/////////////////*/
  /*/////////////////[ Explorepage Mobile Start ]/////////////////*/

  .explore-main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .explore-contentblocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 6px #00000029;
  }

  .explore-contentblocks-inner-part1 {
    flex: auto;
    margin: 2rem;
  }

  .explore-contentblocks-inner-part2 {
    flex: auto;
    max-height: 300px;
    max-width: 300px;
  }

  .explore-contentblock-2 {
    flex-direction: column-reverse;
  }

  .explore-main img {
    max-width: auto;
    object-fit: cover;
  }

  /*/////////////////[ Explorepage Mobile End ]/////////////////*/
  /*/////////////////[ Exhibitionspage Mobile Start ]/////////////////*/

  .exhibitions-contentblocks:hover {
    cursor: pointer;
    margin: 0px;
  }

  .exhibitions-main img {
    height: auto;
    max-width: 100%;
    position: static;
  }

  .exhibitions-contentblocks {
    flex-direction: column;
  }

  .exhibits-left {
    width: auto;
    margin: 2rem;
  }

  .exhibits-right {
    max-height: 300px;
    width: auto;
    margin: 0px;
  }

  /*/////////////////[ Exhibitionspage Mobile End ]/////////////////*/
  /*/////////////////[ Visituspage Mobile Start ]/////////////////*/

  .visitus-contentwrapper {
    flex-direction: column;
  }

  .visitus-section-1,
  .visitus-section-2 {
    margin: 0px 2rem 0px 20%;
    align-self: center;
    padding-bottom: 3rem;
  }

  /*/////////////////[ Visituspage Mobile End ]/////////////////*/

  .footer-section-1 {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 3rem;
    color: #ffffff;
    align-self: center;
  }
}
