/*font-family: 'Archivo Narrow', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

header {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: 356px;
  margin-right: 356px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homelogo {
  max-width: 100%;
  height: auto;
  min-width: 150px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  /*outline: solid rgb(4, 248, 207);*/
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

nav li {
  display: inline-block;
  cursor: pointer;
  margin-left: -5px;
}

nav a {
  text-decoration: none;
  color: #000000;
  padding: 14px 24px 14px 24px;
  margin: none;
}

.selected-nav,
nav a:hover {
  color: #ffffff;
  background: #d4002f;
  box-shadow: 0px 3px 6px #00000029;
}

.searchbox {
  /*outline: solid red;*/
  display: flex;
  align-items: center;
  background: #e5e5e5;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 165px;
  box-shadow: 0px 3px 6px #00000029;
  margin-left: 50px;
}

.flaticon-magnifying-glass {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 900;
}

.searchbox-input {
  width: 100px;
  background: none;
  border: none;
  color: #afafaf;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

input.searchbox-input:focus {
  outline: none;
}

::selection {
  background: #d4002f;
  color: #ffffff;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10rem;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: 356px;
  margin-right: 356px;
  background: red;
}

.frontpage-image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frontpage-contentblock2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: green;
}
